# SERVER
# 仮想環境
nyariot-server/virtualenv_nyariot-server/*
# エンジンを除外
nyariot-server/voicevox_engine/windows-cpu/*
nyariot-server/voicevox_engine/windows-directml/*
# 送られてきたand送るファイルを置く場所
nyariot-server/audio_file/from_client/*
nyariot-server/audio_file/to_client/*
# .env
.env
# __pycache__
nyariot-server/__pycache__/


# CLIENT
# マイク録音のファイルの一時フォルダ
RasberryPi/mic/micWAV/